# App
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://username:password@host:5432/database_name
PROD_DATABASE_URL=your-prod-db-url-here

# Session
SESSION_SECRET=your-session-secret-here

# Authorization
MEMBER_SECRET=answer-to-member-form-here
ADMIN_SECRET=your-admin-secret-here
