<% const pageName = 'Forum'; %>
<%- include('../partials/layout-start', { pageName }) %>
<%- include('../partials/header', { pageName }) %>

<main>
  <div class="flex-gap-normal">
    <% if (currentUser) { %>
      <a href="message" class="button">+ New message</a>
      <p>
        Logged in as <%= currentUser.displayName ?? currentUser.username %>.
      </p>
    <% } else { %>
      <p>You are not logged in.</p>
    <% } %>
  </div>
</main>

<%- include('../partials/layout-end') %>
