<% const pageName = 'Not found'; %>
<%- include('../partials/layout-start', { pageName }) %>
<%- include('../partials/header', { pageName }) %>

<main>
  <p>Error 404: <span class="error">This page doesn't exist.</span></p>
</main>

<%- include('../partials/layout-end') %>
