/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

button,
input,
textarea,
select {
  border: none;
  font-size: 1em;
}

button {
  cursor: pointer;
}

textarea {
  font-family: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Colors */
html {
  --black: #000;
  --dark-gray-15: #080808;
  --dark-gray-13: #181818;
  --dark-gray-11: #282828;
  --dark-gray-10: #333;
  --dark-gray-8: #444;
  --gray: #888;
  --light-gray-6: #bbb;
  --white: #fff;

  --pale-light-red: #f88;
  --pale-blue: #0077ff;
  --pale-light-blue: #a4cefe;

  --color-app-bg: var(--dark-gray-15);
  --color-text: var(--white);
  --color-text-secondary: var(--light-gray-6);
  --color-link: var(--pale-light-blue);
  --color-input-bg: var(--dark-gray-11);
  --color-input-text: var(--white);
  --color-input-text-disabled: var(--gray);
  --color-button-bg-primary: var(--pale-blue);
  --color-button-bg-secondary: var(--dark-gray-11);
  --color-button-text: var(--white);
  --color-code-bg: var(--dark-gray-8);

  --color-required: var(--pale-light-red);
  --color-error: var(--pale-light-red);

  --color-message-border: var(--dark-gray-10);
  --color-message-header-bg: var(--dark-gray-10);
  --color-message-content-bg: var(--dark-gray-13);
  --color-delete-button-bg: transparent;
  --color-delete-button-text: var(--pale-light-red);
}

/* Base */
body {
  background-color: var(--color-app-bg);
  color: var(--color-text);
  min-height: 100vh;
  padding: 1rem 2rem;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input,
textarea,
select,
button,
.button {
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
}

input,
textarea,
select {
  background-color: var(--color-input-bg);
  color: var(--color-input-text);
}

:is(input, textarea, select):disabled {
  color: var(--color-input-text-disabled);
  cursor: not-allowed;
}

button,
.button {
  background-color: var(--color-button-bg-primary);
  color: var(--color-button-text);
}

.button {
  display: inline-block;
}

.button:hover {
  text-decoration: none;
}

code {
  background-color: var(--color-code-bg);
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}

/* Utilities */
.space-between {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

/* App */
.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 2rem;
}

.navbar-list {
  display: flex;
  gap: 1.5rem;
}

.message-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  background-color: var(--color-message-content-bg);
  border-radius: 1rem;
  border: 8px solid var(--color-message-border);
}

.message-list,
.no-messages-message {
  margin-block: 1rem;
}

.message-header {
  background-color: var(--color-message-header-bg);
}

.message-header,
.message-content {
  padding: 0.5rem 0.75rem;
}

.message-heading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}

.message-title {
  font-size: 1.25rem;
}

.message-info {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 0.75rem;
}

.message-time {
  font-family: monospace;
}

.message-content {
  border-end-start-radius: 1rem;
  border-end-end-radius: 1rem;
}

.title-input {
  width: 100%;
}

.message-input {
  min-height: 6.4375rem;
  resize: vertical;
  width: 100%;
}

.standard-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.standard-form > :is(input, textarea, select) {
  margin-bottom: 0.5rem;
}

.standard-form > .cancel-submit-buttons {
  margin-top: 0.375rem;
}

.field-annotation {
  color: var(--color-text-secondary);
  font-size: 0.875em;
}

.cancel-submit-buttons {
  display: flex;
  gap: 1rem;
}

.cancel-button {
  background-color: var(--color-button-bg-secondary);
  color: var(--color-button-text);
}

.delete-button {
  background-color: var(--color-delete-button-bg);
  color: var(--color-delete-button-text);
  padding: 0;
}

.error,
.errors {
  color: var(--color-error);
}

.errors {
  list-style-type: disc;
  margin-block: 0.75rem;
}

.errors:focus {
  outline: none;
}

.errors > li {
  margin-inline-start: 1.125rem;
}

.member-form-question-context {
  margin-bottom: 0.5rem;
}
