<header class="header">
  <h1><%= pageName %></h1>
  <nav>
    <ul class="navbar-list">
      <% if (locals.currentUser) { %>
        <li><a href="/member">Become a member</a></li>
        <li><a href="/log-out">Log out</a></li>
      <% } else { %>
        <li><a href="/sign-up">Sign up</a></li>
        <li><a href="/log-in">Log in</a></li>
      <% } %>
    </ul>
  </nav>
</header>
