<% if (messages?.length > 0) { %>
  <ul class="message-list">
    <% messages.forEach(message => { %>
      <li>
        <div class="message">
          <div class="message-heading">
            <h2 class="message-title"><%= message.title %></h2>
            <div class="message-info">
              <p>
                by <%= message.author.display_name ?? message.author.username %>
              </p>
              <p
                data-time="<%= message.time.toISOString() %>"
                class="message-time"
              ></p>
            </div>
          </div>
          <p class="message-content"><%= message.content %></p>
        </div>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p class="no-messages-message">No messages yet</p>
<% } %>
