<% if (messages?.length > 0) { %>
  <ul class="message-list">
    <% messages.forEach(message => { %>
      <li><%- include('message', { message }) %></li>
    <% }); %>
  </ul>
<% } else { %>
  <p class="no-messages-message">No messages yet</p>
<% } %>
